services:
  app:
    build:
      context: .
      dockerfile: docker/bun/Dockerfile
    container_name: express-app
    restart: unless-stopped
    working_dir: /usr/src/app
    env_file:
      - .env
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - .:/usr/src/app:cached
    networks:
      - app-net
    depends_on:
      - redis
    command: bun run dev

  redis:
    image: redis:8-alpine
    container_name: redis-server
    restart: unless-stopped
    env_file:
      - .env
    command: sh -c "redis-server --requirepass $$REDIS_PASSWORD"
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-net

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "127.0.0.1:5540:5540"
    volumes:
      - redisinsight-data:/data
    networks:
      - app-net
    depends_on:
      - redis
    user: "0:0"

networks:
  app-net:
    driver: bridge

volumes:
  redis-data:
  redisinsight-data: